replicaCount: 2

image:
  repository: hristian893/devops-training-demo
  tag: "latest"
  pullPolicy: Always  

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  host: hello-web.local
  path: /

resources:
  requests:
    cpu: 25m
    memory: 32Mi
  limits:
    cpu: 200m
    memory: 128Mi
